<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.askerlab.catathutang">

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:label="Daftar Catatan">
        </activity>

        <activity android:name=".TambahCatatan"
            android:windowSoftInputMode="stateHidden"
            android:label="Tambah Catatan">
        </activity>

        <activity android:name=".UbahCatatan"
            android:windowSoftInputMode="stateHidden"
            android:label="Ubah Catatan">
        </activity>
    </application>

</manifest>